@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Primary Color */
  --color-primary50: #b5c5e5;
  --color-primary100: #849fd3;
  --color-primary300: #3965b9;
  --color-primary500: #083ea7;
  --color-primary700: #063286;
  --color-primary800: #041f54;
  --color-primary900: #021332;

  /* Secondary Color */
  --color-secondary50: #bcf5de;
  --color-secondary100: #8fefc8;
  --color-secondary300: #4ce5a7;
  --color-secondary500: #1fde91;
  --color-secondary700: #19b274;
  --color-secondary800: #106f49;
  --color-secondary900: #09432b;

  /* Information Color */
  --color-info50: #bccdf5;
  --color-info100: #8facef;
  --color-info300: #4c79e5;
  --color-info500: #1f51de;
  --color-info700: #1946b2;
  --color-info800: #102c6f;
  --color-info900: #091843;

  /* Danger Color */
  --color-danger50: #f5bcbc;
  --color-danger100: #ef8f8f;
  --color-danger300: #e54c4c;
  --color-danger500: #de1f1f;
  --color-danger700: #b21919;
  --color-danger800: #6f1010;
  --color-danger900: #430909;

  /* Warning Color */
  --color-warning50: #fffcb3;
  --color-warning100: #fffb80;
  --color-warning300: #fff833;
  --color-warning500: #fff600;
  --color-warning700: #ccc500;
  --color-warning800: #807b00;
  --color-warning900: #4c4a00;

  /* Success Color */
  --color-success50: #caf5bc;
  --color-success100: #a7ef8f;
  --color-success300: #72e54c;
  --color-success500: #4fde1f;
  --color-success700: #3fb219;
  --color-success800: #286f10;
  --color-success900: #184309;

  /* Neutral Color */
  --color-neutral50: #c7c8cc;
  --color-neutral100: #a2a4aa;
  --color-neutral300: #696d77;
  --color-neutral500: #444955;
  --color-neutral700: #363a44;
  --color-neutral800: #22252b;
  --color-neutral900: #141619;
  --color-primary1000: #e0f0fd;

  /* Typography Size */
  --text-extrasmall: 1.25rem;
  --text-small: 1.5rem;
  --text-medium: 2rem;
  --text-large: 2.25rem;
  --text-extralarge: 2.5rem;
  --text-superlarge: 3.75rem;
  --text-navlink: 1.125rem;

  /* Line Height Text */
  --leading-md: 24px;
  --leading-lg: 32px;

  /* Font */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-fraunces: "Fraunces", serif;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
